/* Sets all the text color to red! */
.savedQ {
  padding: 5px 5px;
}

.deleteQButton {
  float: right;
}

.savedQ-name {
  background-color: var(--background-secondary-alt);
  padding: 2px 4px;
  border-radius: 3px;
}

.savedQ-name:hover {
  background-color: var(--interactive-accent);
  cursor: pointer;
}

.savedQ-query {
  background-color: var(--background-primary-alt);
  padding: 2px 4px;
  border-radius: 3px;
}

.savedQ-query:hover {
  background-color: var(--interactive-accent);
  cursor: pointer;
}